
body{
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 400;
	overflow-x: hidden!important;
  background-color: #232323;
}
::-webkit-scrollbar {
    /*width: 20px;*/
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(254,212,72); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(254,212,72,.7); 
}
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  z-index: 999;
  transition:1s all;
  opacity: 1;
  visibility: visible;
}
.loader{
  width: 100px;
  height: 100px;
  border:10px solid white;
  border-radius: 50%;
  border-top-color: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: 1s spin infinite linear;
}
 .preloader.done{
  opacity: 0;
  visibility: hidden;
}
@keyframes spin{
from {
  transform: translate(-50%,-50%) rotate(0deg);
}
to{
  transform: translate(-50%,-50%) rotate(360deg);
}
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
.top__menu{
	margin: auto;
}
.flex__row{
	display: flex;
	flex-wrap: wrap;
}
.flex__col{
	display: flex;
	flex-direction: column;
}
.align__items__center{
	align-items: center;
}
.space__between{
	justify-content: space-between;
}
.j_center{
	justify-content: center;
}
.menu div{
	margin: auto;
	display: flex;
}
.top__menu{
   background-color: #232323;
}
/*.menu__item{
	position: relative;
	padding: 70px;	
	font-weight: 700;
	font-size: 16px;
	border: 5px solid rgba(255,255,255,0);
}
.menu__item:hover{
	color: rgb(243,218,51);
	background-color: red;
	transition:  0.3s;
	-webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
}*/
.link:hover {
  transition: all .3s;
  transform: skew(-20deg) rotate(0deg) translateY(0px);
  background-color:rgb(252, 219, 0);
}
.link:not(hover) {
  transition: all .3s;
}
.link {
  transform: skew(-20deg) rotate(0deg) translateY(0px);
  /*background-color: red;*/
}


.menu__item {
	font-weight: 700;
	font-size: 16px;
    padding: 20px 40px;
  transform: skew(20deg) rotate(0deg) translateY(0px);
}
.menu__item:hover {
	color: white;
	transition: .3s;
}


.logo{
	padding: 0px 50px;
}
.logo img{
	width: 50px;
	height: 50px;
}
.my__photo{
	padding:50px 0 100px 0;
}
.my__photo img{
	width: 300px;
	height: 300px;
	border-radius: 360px;
}
.my__photo h2{
	font-weight: 700;
	font-style: bold;
	padding: 20px 0 0 0;
	text-align: center;
	font-size: 30px;
	color: black;
}
.my__text{	
	max-width: 70%;
	line-height: 30px;
	
}
.about__me{
	position: relative;
	background: url(../img/keyboard__bg.jpg) no-repeat center center;;
	-webkit-background-size: cover;
	background-size: cover;
}

.html img{
	width: 100px;
	height: 100px;
	animation: rotatehtml 10s linear reverse infinite;
}
.html {
  width: 100px;
  height: 100px;
  transform-origin: 250% 250%;
  position: absolute;
	left: 36%;
    top: -20%;
  animation: rotatehtml 25s linear infinite;
}
.css img{
	width: 100px;
	height: 100px;
	animation: rotatecss 10s linear reverse infinite;
}
.css {
width: 100px;
    height: 100px;
    transform-origin: 250% 250%;
    position: absolute;
    left: 36%;
    top: -20%;
    animation: rotatecss 25s linear infinite;
}

@keyframes rotatehtml {
  100% {
    transform: rotate(-5760deg);
  }
}
@keyframes rotatecss {
  100% {
    transform: rotate(5760deg);
  }
}

.c-hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;}
@media (max-width: 1280px) {
  .c-hero-flex {
    flex-flow: column nowrap;
  }
  .c-hero-flex__item {
    width: 100%;
  }
}
.c-hero-flex__item {
  flex-grow: 1;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  transition: .2s all;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .c-hero-flex__item {
    height: 100%;
  }
}
/*.c-hero-flex > */.c-hero-flex__item:hover {
  flex-grow: 2;
  box-shadow: inset 0 0 0 100vmax  rgb(252, 219, 0);
}
.c-hero-flex__item:hover .c-hero-flex__title {
  color: rgb(100,100,100);
}
.c-hero-flex__item:nth-child(1) {
  background: #222 url(../img/portfolio/first_screen.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.c-hero-flex__item:nth-child(2) {
 background: #222 url(../img/portfolio/car3.png) no-repeat center center;
-webkit-background-size: cover;
  background-size: cover;
}
.c-hero-flex__item:nth-child(3) {
 background: #222 url(../img/portfolio/main.png) no-repeat center center;
-webkit-background-size: cover;
  background-size: cover;
}
.c-hero-flex__item:nth-child(4) {
 background: #222 url(../img/portfolio/company_background.png) no-repeat center center;
-webkit-background-size: cover;
  background-size: cover;
}
.c-hero-flex__item:nth-child(5) {
 background: #222 url(../img/portfolio/image_us.jpg) no-repeat center center;
-webkit-background-size: cover;
  background-size: cover;
}

.c-hero-flex__title {
  text-transform: uppercase;
  letter-spacing: .075em;
  color: #fff;
  transition: .2s all;
      width: 237px;
    text-align: center;
}
.site__popup{
  height: 700px;
}
.gradient{
 background: linear-gradient(90deg, #1e1e1e,#1e1e1e ,#FCDB00 ,#1e1e1e,#1e1e1e );
  background-size: 400% 400%;
  animation: Gradient 2s cubic-bezier(0, 0, 0.2, 1); ;
}
.gradient1{
 background: linear-gradient(90deg, #1e1e1e,#1e1e1e ,#FCDB00 ,#1e1e1e,#1e1e1e );
  background-size: 400% 400%;
  animation: Gradientik 2s cubic-bezier(0, 0, 0.2, 1); ;
}
@keyframes Gradient {
  0% {
    max-height: 100%;
    background-position: 0% 50%
  }
  100% {
    max-height: 100%;
    background-position: 100% 50%
  }
}
@keyframes Gradientik {
  0% {
    max-height: 100%;
    background-position: 100% 50%
  }
  100% {
    max-height: 100%;
    background-position: 0% 50%
  }
}
.mockup__block{
	position: relative;
  padding: 10px;
}

.iphoneMockup .device-wrapper {
	position: absolute;
	width: 7%!important;
	z-index: 5;
	transform: translate(50%,285%);
  overflow:hidden
}

.ipadMockup .device-wrapper {
	position: absolute;
    width: 15%!important;
    z-index: 4;
    transform: translate(50%,157%);

}

.macbookMockup .device-wrapper {
	position: absolute;
 	width: 40%!important;
    z-index: 3;
    transform: translate(140%,136%);
}

.surfaceMockup .device-wrapper {
	position: absolute;
    width: 60%!important;
    z-index: 2;
    transform: translate(25%,5%);
}
.screen{
  background-image: url(../img/portfolio/mockups/bg.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.elitehouse .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/elite_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.elitehouse .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/elite_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.elitehouse .ipadMockup .screen{
  background-image: url(../img/portfolio/mockups/elite_ipad.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.elitehouse .macbookMockup .screen{
  background-image: url(../img/portfolio/mockups/elite_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.elitehouse .surfaceMockup .screen{
  background-image: url(../img/portfolio/mockups/elite_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.henes .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/henes_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.henes .ipadMockup .screen{
  background-image: url(../img/portfolio/mockups/henes_ipad.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.henes .macbookMockup .screen{
  background-image: url(../img/portfolio/mockups/henes_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.henes .surfaceMockup .screen{
  background-image: url(../img/portfolio/mockups/henes_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}

.teacher .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/teacher_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.teacher .ipadMockup .screen{
  background-image: url(../img/portfolio/mockups/teacher_ipad.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.teacher .macbookMockup .screen{
  background-image: url(../img/portfolio/mockups/teacher_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.teacher .surfaceMockup .screen{
  background-image: url(../img/portfolio/mockups/teacher_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}

.sba .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/sba_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover; 
}
.sba .ipadMockup .screen{
  background-image: url(../img/portfolio/mockups/sba_ipad.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.sba .macbookMockup .screen{
  background-image: url(../img/portfolio/mockups/sba_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.sba .surfaceMockup .screen{
  background-image: url(../img/portfolio/mockups/sba_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}

.church .iphoneMockup .screen{
  background-image: url(../img/portfolio/mockups/church_iphone.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.church .ipadMockup .screen{
  background-image: url(../img/portfolio/mockups/church_ipad.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.church .macbookMockup .screen{
  background-image: url(../img/portfolio/mockups/church_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;
  background-size: cover;
}
.church .surfaceMockup .screen{
  background-image: url(../img/portfolio/mockups/church_pc.png);
  background-position: center 0; 
  -webkit-background-size: cover;  
  background-size: cover;
}

.screen{
    transition: all 1s ease;
}
.church .surfaceMockup:hover .screen{
  background-image: url(../img/portfolio/mockups/church_pc.gif); 
  transition: all 1s ease;
}
.church .macbookMockup:hover .screen{
  background-image: url(../img/portfolio/mockups/church_pc.gif); 
  transition: all 1s ease;
}
.church .ipadMockup:hover .screen{
  background-image: url(../img/portfolio/mockups/church_ipad.gif); 
  transition: all 1s ease;
}
.church .iphoneMockup:hover .screen{
  background-image: url(../img/portfolio/mockups/church_iphone.gif); 
  transition: all 1s ease;
}









@media only screen and (max-width: 768px) {
	.html{
		display: none;
	}
	.css{
		display: none;
	}
	.link:hover {
  transition: all .3s;
  transform: skew(0deg) rotate(0deg) translateY(0px);
  background-color:rgb(252, 219, 0);
}
.link:not(hover) {
  transition: all .3s;
}
.link {
  transform: skew(0deg) rotate(0deg) translateY(0px);
  /*background-color: red;*/
}
.menu__item {
	font-weight: 700;
	font-size: 16px;
    padding: 20px 40px;
  transform: skew(0deg) rotate(0deg) translateY(0px);
}
}
